<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400586110924-gb8lfmo6cb1sqamg4o1u10f9jj8qg2ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400586110924-gb8lfmo6cb1sqamg4o1u10f9jj8qg2ir</string>
	<key>API_KEY</key>
	<string>AIzaSyCofWdEkyxmebP7mSORZlCkvxuqV_R1T0k</string>
	<key>GCM_SENDER_ID</key>
	<string>400586110924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsflow</string>
	<key>PROJECT_ID</key>
	<string>newsflow-8a8c4</string>
	<key>STORAGE_BUCKET</key>
	<string>newsflow-8a8c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400586110924:ios:7191bc55fa5fa84a818f69</string>
</dict>
</plist>